# Ignore PSoC Creator temp and user files

# PSoC Creator generated directories for workspace bundles
# and component uploades.
Archive/*
Backup/*

# User specific files
ComponentUpdateLog.txt
*.Alumno
*.Xwx47
*.cydsn/*.Xwx47

# Projects optional files
*.cydsn/codegentemp/
*.cydsn/Generated_Source/
*.cydsn/Export/

# PSoC 5LP based projects
*.cydsn/CortexM3/

# PSoC 4 based projects
*.cydsn/CortexM0/

# new PSoC 4 families based projects
*.cydsn/CortexM0p/

# Update files
*.txt

# Build files
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*.html